# Dependencies
/node_modules/**
.yarn/*
!.yarn/releases/

# Misc
.dccache
.eslintcache
*/.DS_Store
*.DS_Store
npm-debug.log*
npm-error.log*
yarn-debug.log*

# Editor
/.idea

# Config
/.eslintrc
fbdeploy-config.json
/.webpack_cache
env/.env.local
env/.env*.local
configs/.dccache
configs/.eslintcache
src/configs/config.*.custom.ts

# Build
/build/**
/.history/**
phaser/lib/**
src/libs/phaser-custom.min.js
src/libs/initFbInstant.es5.js
src/libs/phaser-spine-plugin.min.js

phaser/types/

rate-level/bots.js

# Level Raw
assets/raw-levels